/GoBike/Log
/GoBike/MGT/Server/MGT/MGT.API/obj
/GoBike/MGT/Server/MGT/MGT.API/bin
/GoBike/MGT/Server/MGT/MGT.Core/obj
/GoBike/MGT/Server/MGT/MGT.Core/bin
/GoBike/MGT/Server/MGT/MGT.Repository/bin
/GoBike/MGT/Server/MGT/MGT.Repository/obj
/GoBike/MGT/Server/MGT/MGT.Service/obj
/GoBike/MGT/Server/MGT/MGT.Service/bin
/GoBike/MGT/Server/MGT/.vs
