/GoBike/Log
/GoBike/MGT/Server/MGT/MGT.API/obj
/GoBike/MGT/Server/MGT/MGT.API/bin
/GoBike/MGT/Server/MGT/MGT.Core/obj
/GoBike/MGT/Server/MGT/MGT.Core/bin
/GoBike/MGT/Server/MGT/MGT.Repository/bin
/GoBike/MGT/Server/MGT/MGT.Repository/obj
/GoBike/MGT/Server/MGT/MGT.Service/obj
/GoBike/MGT/Server/MGT/MGT.Service/bin
/GoBike/MGT/Server/MGT/.vs
/GoBike/mgt.gobike.com
/GoBike/api.gobike.com
/GoBike/DataInfo/.vs
/GoBike/DataInfo/DataInfo.Api/obj
/GoBike/DataInfo/DataInfo.Api/.config
/GoBike/DataInfo/DataInfo.Api/bin
/GoBike/DataInfo/DataInfo.Core/obj
/GoBike/DataInfo/DataInfo.Core/bin
/GoBike/DataInfo/DataInfo.Repository/bin
/GoBike/DataInfo/DataInfo.Repository/obj
/GoBike/DataInfo/DataInfo.Service/bin
/GoBike/DataInfo/DataInfo.Service/obj
/mgt.gobike.com
/api.gobike.com
/dh.uploadfile.com
/Log
/Common/UploadFiles/.vs
/Common/UploadFiles/UploadFiles.Api/obj
/Common/UploadFiles/UploadFiles.Api/bin
/Common/UploadFiles/UploadFiles.Core/obj
/Common/UploadFiles/UploadFiles.Core/bin
/Common/UploadFiles/UploadFiles.Service/obj
/Common/UploadFiles/UploadFiles.Service/bin
/dh.cdn.com
/Common/UploadFiles/UploadFiles.Api/.config
/dh.smtp.com
/Common/Smtp/.vs
/Common/Smtp/Smtp.Api/.config
/Common/Smtp/Smtp.Api/obj
/Common/Smtp/Smtp.Api/bin
/Common/Smtp/Smtp.Core/obj
/Common/Smtp/Smtp.Core/bin
/Common/Smtp/Smtp.Service/obj
/Common/Smtp/Smtp.Service/bin
/GoBike/Server
