/GoBike/Log
/GoBike/MGT/Server/MGT/MGT.API/obj
/GoBike/MGT/Server/MGT/MGT.API/bin
/GoBike/MGT/Server/MGT/MGT.Core/obj
/GoBike/MGT/Server/MGT/MGT.Core/bin
/GoBike/MGT/Server/MGT/MGT.Repository/bin
/GoBike/MGT/Server/MGT/MGT.Repository/obj
/GoBike/MGT/Server/MGT/MGT.Service/obj
/GoBike/MGT/Server/MGT/MGT.Service/bin
/GoBike/MGT/Server/MGT/.vs
/GoBike/mgt.gobike.com
/GoBike/api.gobike.com
/GoBike/DataInfo/.vs
/GoBike/DataInfo/DataInfo.Api/obj
/GoBike/DataInfo/DataInfo.Api/.config
/GoBike/DataInfo/DataInfo.Api/bin
/GoBike/DataInfo/DataInfo.Core/obj
/GoBike/DataInfo/DataInfo.Core/bin
/GoBike/DataInfo/DataInfo.Repository/bin
/GoBike/DataInfo/DataInfo.Repository/obj
/GoBike/DataInfo/DataInfo.Service/bin
/GoBike/DataInfo/DataInfo.Service/obj
